<?xml version="1.0" encoding="utf-8" ?>
<configuration>    
  <configSections>
    <section name="ApplicationSettings" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>
  <ApplicationSettings>
    <add key="xsdDirInit" value="C:\tmp\Production\"/>
    <add key="xsdbindingsPackageName" value="generated.com.tylertech.xsdbindings."/>

    <add key="apiWsdl" value="http://dev-config-all.nmcourts.gov/WebServices/APIWebService.asmx?WSDL"/>
    <add key="apiPackageName" value="generated.com.tylertech.api"/>
    <add key="ixmlWsdl" value="http://dev-config-all.nmcourts.gov/Infrastructure/Integration/IntegrationEntityLoad.asmx?WSDL"/>
    <add key="ixmlPackageName" value="generated.com.tylertech.ixml"/>
    
    <add key="xsdExePath" value="C:\Program Files (x86)\Microsoft SDKs\Windows\v10.0A\bin\NETFX 4.7.2 Tools\xsd.exe" />
    <add key="wsdlExePath" value="C:\Program Files (x86)\Microsoft SDKs\Windows\v10.0A\bin\NETFX 4.7.2 Tools\wsdl.exe" />      
    <add key="dirOutput" value="C:\tmp\generated\"/>
    <add key="dirDestClasses" value="..\OdyApiGenLibrary\generated\"/>    
    <add key="xsdDirResource" value="resources\"/>
    <add key="xsdDirInput" value="C:\tmp\preprocessing\"/>   
    
  </ApplicationSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>
